.tableborder{
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;

}

body {
  background-color: #e3fdfd;
  color: #00adb5;
}
h1,h2,h3,h4,h5,h6{
  color: #00adb5;
}
hr {
 /* height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;*/
  /*background-color: #f5e1da;
  border-top: 2px dashed #8c8b8b;
  */

  border: dotted orange;
  border-width: 0 0 7px;
  width: 20%;
}
